@model IEnumerable<BookShopMVCmidExam_1280425.Models.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre Create</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-primary btn-sm" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreTitle)
        </th>
        <th>
           Actions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreTitle)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreId }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreId }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreId }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
